@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins', sans-serif;
    background: #F0F2F5;
}

.error{
    color: red;
    font-size: 13px;
    margin: 5px 0;
}